img { max-width: 100%; }
img:not(.tns-lazy-img), .lazyload img { height: auto; }
.autoWidth img { max-width: none; }
.autoHeight img { width: 100%; }
.img {
  font-size: 100px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
.img a {
  display: block;
  padding: 22% 0;
  color: inherit;
  text-decoration: none;
}

.img-1 { background: #D6D65B; background: hsl(60, 60%, 60%); }
.img-2 { background: #5BD6AD; background: hsl(160, 60%, 60%); }
.img-3 { background: #5B99D6; background: hsl(210, 60%, 60%); }
.img-4 { background: #D65BC1; background: hsl(310, 60%, 60%); }
.img-5 { background: #70D65B; background: hsl(110, 60%, 60%); }
.img-6 { background: #D65B5B; background: hsl(0, 60%, 60%); }
.img-7 { background: #D6995B; background: hsl(30, 60%, 60%); }
.img-8 { background: #705BD6; background: hsl(250, 60%, 60%); }

.App {
    padding: 0 2em;
}
.basic-carousel {
    width: 100%;
}
.demo-list {
    margin-top: 3em;
}

.no-js .carousel { overflow-x: auto; }
.no-js .carousel > div { float: none; }
